<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Listing Plugins</h1>

<table>
    <% @sorted_plugin_ids.each do |plugin_id| %>
    <%# plugin_id = @sorted_plugin_ids[i] %>
    <% plugin = @h_plugins[plugin_id] %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td class="Group">
        <dd><%= raw @h_plugin_infos[plugin_id]['path'][0] %></dd>
    </td>
    <td class="title">
        <dd><%= raw @h_plugin_infos[plugin_id]['title'] %></dd>
    </td>
    <td class="description">
	    <dd><%= raw @h_plugin_infos[plugin_id]['description'] %></dd>
    </td>
	<td class="list_actions">
        <%= link_to 'Show', plugin %><br/>
        <%= link_to 'Edit', edit_plugin_path(plugin) %><br/>
        <%= link_to 'Destroy', plugin, method: :delete, data: { confirm: 'Are you sure?' } %>
      	</td>
	</tr>
    <% end %>
</table>

<br>

<%= link_to 'New Plugin', new_plugin_path %>

