<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Listing Plugins</h2>

<table id='list_plugins' class='std_table'>
<thead>
    <tr>
    <% if admin? %>
        <th>ID</th>
    <% end %>
        <th>Title </th>
        <th>Section </th>
        <th>Description </th>
        <th>Link</th>
    <% if !admin? %>
        <th>Actions</th>
       <% end %>
    </tr>
</thead>

<tbody>
<% @sorted_plugin_ids.each do |plugin_id| %>
    <%# plugin_id = @sorted_plugin_ids[i] %>
    <% plugin = @h_plugins[plugin_id] %>
    <tr> 
    <% if admin? %>
        <td><%= plugin_id %></td>
    <% end %>
    <td class="title">
        <dd><%= raw @h_plugin_infos[plugin_id]['title'] %></dd>
    </td>
    <td class="group">
        <dd><%= raw @h_plugin_infos[plugin_id]['path'][0] %></dd>
    </td>
    <td class="description">
	    <dd><%= raw @h_plugin_infos[plugin_id]['description'] %></dd>
    </td>
    <td class="link">
        <%= link_to 'Show', plugin %><br/>
    </td>
	<td class="list_actions">

    <%#= link_to 'Edit', edit_plugin_path(plugin) %>
    <%= link_to 'New request', new_request_path(:plugin_id => plugin_id) %><br/>
    <%#= link_to 'Destroy', plugin, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%#= button_to plugin_id, new_request_path(:plugin_id => plugin_id)  %>

    </td>
	</tr>
<% end %>
</tbody>
</table>

<br>

<script type="text/javascript">
jQuery(document).ready(function() {
    /* Build the DataTable with third column using our custom sort functions */
    var oTable = jQuery('#list_plugins').dataTable( {
        fixedHeader: true,
        "oLanguage": {
            "sSearch": "Search all columns:"
        },
       "order": [[1, "asc"]], 
       "sDom": 'Wfrt',
        "iDisplayLength":  <%= @plugins.size %>
        });

}
);
</script>
