<p id="notice"><%= notice %></p>

<h1>Listing Results</h1>

<table>
	<tr>
		<th>result_type_id</th>
		<th>path</th>
		<th>file_name</th>
		<th>request_id</th>
	</tr>
    <% @results.each do |result| %>
      <% rt = result.result_type %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td class="list_result_type_id">
		<%= rt.result_type if rt %>
	</td>
	<td class="list_path">
		<dd><%#= truncate(strip_tags(result.result), length: 80) %></dd>
		<%= result.path %>
	</td>
	<td class="list_file_name">
		<%= result.fname %>
	</td>
	<td class="list_request_id">
		<%= result.request_id %>
	</td>
	<td class="list_actions">
        <%= link_to 'Show', result %><br/>
        <%= link_to 'Edit', edit_result_path(result) %><br/>
	</td>
	</tr>
    <% end %>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
