<p id="notice"><%= notice %></p>

<h1>Listing Results</h1>

<table>
	<tr>
		<th>result_type_id</th>
		<th>result</th>
		<th>file_name</th>
		<th>job_id</th>
	</tr>
    <% @results.each do |result| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td class="list_result_type_id">
		<%= result.result_type_id %>
	</td>
	<td class="list_result">
		<dd><%= truncate(strip_tags(result.result), length: 80) %></dd>
	</td>
	<td class="list_file_name">
		<%= result.fname %>
	</td>
	<td class="list_job_id">
		<%= result.job.id %>
	</td>
	<td class="list_actions">
        <%= link_to 'Show', result %><br/>
        <%= link_to 'Edit', edit_result_path(result) %><br/>
	</td>
	</tr>
    <% end %>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
