<tr id=<%= @var['id'] %>:container style="" >
<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
<div id=<%= @var['id'] %>:bs_container >

<% name = @var['id'] + '_bs_group' %>
<%= radio_button_tag( @var['id'], 'text', true, :name => name, :onchange=>"testing(this)" ) %>
<%= label_tag(@var['id'], 'Url') %>
<%= radio_button_tag( @var['id'], 'file', false, :name => name) %>
<%= label_tag(@var['id'], 'File Upoad') %>
<%= text_field_tag @var['id'], '', required: @var['required'] %>
<%= file_field_tag @var['id'], :style => 'display: none; ' %>
<%= label_tag(@var['id'], @var['help_text']) %>
</div>
</td>
</tr>

