<tr id=<%= @var['id'] %>:container style="" >
<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
<div id=<%= @var['id'] %>:bs_container >
<%= radio_button_tag( @var['id'] + '_bs_group', 'text', true) %>
<%= label_tag(@var['id'], 'Url') %>
<%= radio_button_tag( @var['id'] + '_bs_group', 'file', false ) %>
<%= label_tag(@var['id'], 'File Upoad') %>
<%= text_field_tag @var['id'], '', required: @var['required'] %>
<%= file_field_tag @var['id'],  :style=>'Display: none;'%>
<%= label_tag(@var['id'], @var['help_text']) %>
</div>
</td>
</tr>
