<tr id=<%= @var['id'] %>:container style="">
<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
    <%= check_box_tag(@var['id'], 'on' ) %>
    <//input type="checkbox" name = <%= @var['id'] %>/>    
    <%= label_tag(@var['id'], @var['help_text']) %>
</td>
</tr>
