<tr id=<%= @var['id'] %>:container style="" >
<th><%= label_tag(@var['id'], @var['label']) %></th>

<td>
<% if @request.parameters %>
    <% if @request.parameters[@var['id']] %>
        <% t = JSON.parse(@request["parameters"]); %>
        <% value = t[@var['id']] %>
    <% end %>
<% end %>
<% value ?  val = value : ( @var['value'] ? val = @var['value'] : val = 0 ) %>
<% @var['required'] ? req = @var['required'] : req = false %>

<% if @var['max'] and @var['min'] %>
    <%#= number_field_tag @var['id'], @var['value'],  required: @var['required'], min: @var['min'], max: @var['max'] %>
    <%= number_field_tag @var['id'], val,  required: @var['required'], min: @var['min'], max: @var['max'] %>
<% end %>

<% if @var['max'] and !@var['min'] %>
    <%#= number_field_tag @var['id'], @var['value'],  required: @var['required'], max: @var['max'] %>
    <%= number_field_tag @var['id'], val,  required: @var['required'], max: @var['max'] %>
<% end %>
<% if !@var['max'] and @var['min'] %>
    <%#= number_field_tag @var['id'], @var['value'],  required: @var['required'], min: @var['min'] %>
    <%= number_field_tag @var['id'], val,  required: @var['required'], min: @var['min'] %>
<% end %>
<% if !@var['max'] and !@var['min'] %>
    <%#= number_field_tag @var['id'], @var['value'],  required: @var['required'] %>
    <%= number_field_tag @var['id'], val,  required: @var['required'] %>
<% end %>
<//input type="number" name=<%= @var['id'] %>  value=<%= val %> required= <%= req %>   />
<%= label_tag(@var['id'], @var['help_text']) %>
</td>
</tr>
