<tr id=<%= @var['id'] %>:container style="" >
<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
<div id=<%= @var['id'] %>:bs_container >
<%#= radio_button_tag( @var['id'] + '_bs_group', 'url', true, class: "text") %>
<%= radio_button_tag( @var['id'] + '_bs_group', 'text', true) %>
<%= label_tag(@var['id'], 'Url') %>
<%= radio_button_tag( @var['id'] + '_bs_group', 'file', false ) %>
<%= label_tag(@var['id'], 'File Upload') %>
<% if @bs_private %>
    <%= radio_button_tag( @var['id'] + '_bs_group', 'select', false) %>
    <%= label_tag(@var['id'], 'Select') %>
<% end %>
<%= text_field_tag @var['id'], '', required: @var['required'] %>
<%#= url_field_tag( @var['id'], @var['value']) %>
<%= file_field_tag @var['id'],  :style=>'Display: none;'%>

<% if @bs_private %>
    <%= select_tag( @var['id'], options_for_select(@files_from_hts), :style => 'display: none;') %>
<% end %>

<%= label_tag(@var['id'], @var['help_text']) %>
</div>
</td>
</tr>
