<tr id=<%= @var['id']%>:container style="" >
<th><%= label_tag(@var['id'], @var['label']) %></th>
    <td>
<% multiname = @var['id'] + 'Multi' %>
<table id=<%= multiname %>><tbody>
<tr>
    <th></th>
    <th></th>
    <th>
        <%= image_tag("redo-icon.png", alt: "undo", :style=>"display: none", :onclick=>"twd_grow_undo(this); return false;", :id => multiname + ':undo') %>
    </th>
</tr>
<% multiname0 = multiname + ':0:' %>
<tr id=<%= multiname %>:0 style="display:none"> 
    <td>
        <div id=<%= multiname0 %><%=@var['id']%> name=""   type="text" onchange="twd_grow_add(this);" ></div>
        <div id=<%= multiname0 %><%=@var['id']%>:bs_container>
            <% name = multiname0 + @var['id'] +'_bs_group'%>
            <%= radio_button_tag( @var['id'], 'text', true, :name => name) %>
            <%= label_tag(@var['id'], 'Url') %>
            <%= radio_button_tag( @var['id'], 'file', false, :name => name) %>
            <%= label_tag(@var['id'], 'File Upoad') %>
            <% if @bs_private %>
                <%= radio_button_tag( @var['id'], 'select', false, :name => name) %>
                <%= label_tag(@var['id'], 'Select') %>
            <% end %>
            <%= text_field_tag 'text', '' %>
            <%= file_field_tag 'file', :style => 'display: none; ' %>
            <% if @bs_private %>
                <%= select_tag( @var['id'], options_for_select(@files_from_hts), :style => 'display: none;') %>
            <% end %>
    </td>
    <td>
    <%= image_tag(image_path("undo-icon.png"), alt: "delete file", :style=>"display: none", :onclick=>"twd_grow_del(this); return false;", :name => multiname0 + 'del', :id => multiname0 + 'del') %>
    </td>
</tr>

<% multiname1 = multiname + ':1:' %>
<tr id=<%= multiname %>:1>
    <td> 
        <div id=<%= multiname1 %><%=@var['id']%> name=""   type="text" onchange="twd_grow_add(this);" ></div>
        <div id=<%= multiname1 %><%=@var['id']%>:bs_container>
            <% name = multiname1 + @var['id'] +'_bs_group'%>
            <%= radio_button_tag( @var['id'], 'text', true, :name => name) %>
            <%= label_tag(@var['id'], 'Url') %>
            <%= radio_button_tag( @var['id'], 'file', false, :name => name) %>
            <%= label_tag(@var['id'], 'File Upoad') %>
            <% if @bs_private %>
                <%= radio_button_tag( @var['id'], 'select', false, :name => name) %>
                <%= label_tag(@var['id'], 'Select') %>
            <% end %>
            <%= text_field_tag @var['id'], '', required: @var['required'] %>
            <%= file_field_tag @var['id'], :style => 'display: none; ' %>
            <% if @bs_private %>
                <%= select_tag( @var['id'], options_for_select(@files_from_hts), :style => 'display: none;') %>
            <% end %>
        </div>

   </td>
    <td>
    <%= image_tag(image_path("undo-icon.png"), alt: "delete file", :style=>"display: none", :onclick=>"twd_grow_del(this); return false;", :name => multiname1 + 'del', :id => multiname1 + 'del') %>
    </td>
</tr>


</tbody></table>
</td>
</tr>

 
