<tr id=<%= @var['multiple']%>:container style="" >
<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
<table id=<%= @var['multiple']%>><tbody>
<tr id=<%= @var['multiple']%>:0, style="display:none"> 
    <td>
        <div id=<%= @var['multiple']%>:0:<%=@var['id']%> name=""   type="text" onchange="twd_grow_add(this);" ></div>
        <div id=<%= @var['multiple']%>:0:<%=@var['id']%>:bs_container>
            <% name = @var['multiple'] + ':0:'+ @var['id'] +'_bs_group'%>
            <%= radio_button_tag( @var['id'], 'text', true, :name => name) %>
            <%= label_tag(@var['id'], 'Url') %>
            <%= radio_button_tag( @var['id'], 'file', false, :name => name) %>
            <%= label_tag(@var['id'], 'File Upoad') %>
            <%= file_field_tag 'file' %>
            <%= text_field_tag 'file', '', :style => 'display: none; ' %>
            <%# @list_fields.push(name) %>
    </td>
</tr>

<tr id=<%= @var['multiple']%>:1>
    <td> 
        <div id=<%= @var['multiple']%>:1:<%=@var['id']%> name=""   type="text" onchange="twd_grow_add(this);" ></div>
        <div id=<%= @var['multiple']%>:1:<%=@var['id']%>:bs_container>
            <% name = @var['multiple'] + ':1:'+ @var['id'] +'_bs_group'%>
            <%= radio_button_tag( @var['id'], 'text', true, :name => name) %>
            <%= label_tag(@var['id'], 'Url') %>
            <%= radio_button_tag( @var['id'], 'file', false, :name => name) %>
            <%= label_tag(@var['id'], 'File Upoad') %>
            <%= file_field_tag 'file' %>
            <%= text_field_tag 'file','', :style => 'display: none; ' %>
            <%# @list_fields.push(name) %>
        </div>
    </td>
    <td> </td>
</tr>
</tbody></table>
</td>
</tr>
