<tr id=<%= @var['id'] %>:container >
<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
<div id=<%= @var['id'] %> >
<%= radio_button_tag( @var['id'] + ':0', 'table', true, onclick="twd_hidinglistitem_onchange(this);") %>
<%= label_tag(@var['id'], @var['options'][0][0]) %>
<%= radio_button_tag( @var['id'] + ':1', 'signal', false, onclick="twd_hidinglistitem_onchange(this);" ) %>
<%= label_tag(@var['id'], @var['options'][0][1]) %>
<%= label_tag(@var['id'], @var['help_text']) %>

<table id=<%= @var['multiple']%>><tbody>
<tr id=<%= @var['multiple']%>:0, style="display:none"> 
    <td>
        <div id=<%= @var['multiple']%>:0:sample name=""   type="text" onchange="twd_grow_add(this);" ></div>
        <div id=<%= @var['multiple']%>:0:sample:bs_container>
<%= radio_button_tag( @var['multiple'] +':0:sample_bs_group', 'text', true) %>
<%= label_tag(@var['id'], 'Url') %>
<%= radio_button_tag( @var['id'], 'file', false, :name => @var['multiple'] + ':0:sample_bs_group') %>
<%= label_tag(@var['id'], 'File Upoad') %>
<%= file_field_tag 'file' %>
<%= text_field_tag 'file','', :style => 'display: none; ' %>
<%#= label_tag(@var['id'], @var['help_text']) %>
    </td>
</tr>

<tr id=<%= @var['multiple']%>:1>
    <td> 
        <div id=<%= @var['multiple']%>:sample name="" type="text" onchange="twd_grow_add(this);" ></div>
        <div id=<%= @var['multiple']%>:1:sample:bs_container>
<%= radio_button_tag( @var['id'], 'text', true, :name => @var['multiple'] + ':1:sample_bs_group') %>
<%= label_tag(@var['id'], 'Url') %>
<%= radio_button_tag( @var['id'], 'file', false, :name => @var['multiple'] + ':1:sample_bs_group') %>
<%= label_tag(@var['id'], 'File Upoad') %>
<%= file_field_tag 'file' %>
<%= text_field_tag 'file', '', :style => 'display: none; ' %>
<%#= label_tag(@var['id'], @var['help_text']) %>
        </div>
    </td>
    <td> </td>
</tr>
</tbody></table>

</td>
</tr>
