<div id=<%= @var['id'] %> >
<tr id=<%= @var['id'] %>:container >

<th><%= label_tag(@var['id'], @var['label']) %></th>
<td>
    <% i = 0%>
    <% @var['options'].each do |opt| %>

        <% if opt.is_a?(Array) %>
            <% tag = opt[1]%>
        <% else %>
            <% tag = opt%>
        <% end %>

        <%=radio_button_tag(@var['id'], i,tag==@var['value'], options = {:value=> i, :id => @var['id']+":" + i.to_s, :onclick => "twd_hiding_listitem_onchange(this);"} ) %>
        <%= label_tag(@var['id'] + ':' + i.to_s, tag, options = { :value=> tag}) %>
        <% i = i + 1%>
    <% end %>

<%= label_tag(@var['id'], @var['help_text']) %>

</td>
</tr>
