<p id="notice"><%= notice %></p>

<h2>Listing Requests</h2>
<div id='content'>
<% @user_requests_sorted.each do |request| %>
    <% request_id = request.id %>
    <% if request.status_id %>
        <% status = request.status.status %>
    <% else %>
        <% status = 'finished'%>
    <% end %>
    <% if request.status_id == 5 %>
        <% color = 'red' %>
    <% else %>
        <% color = 'green' %>
    <% end %>
    <p>
       Request <b><%=  request.plugin.info_content['title'] %> </b><%= link_to request.key, request %> is <font color = <%= color %> ><%= status %> </font> at <%= request.created_at %> 
    </p>
<% end %>
</div>


