<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>
<div id='content'>
<% @user_requests_sorted.each do |request| %>
    <% request_id = request.id %>
    <% if request.status_id %>
        <% status = request.status.status %>
    <% else %>
        <% status = 'finished'%>
    <% end %>
    <p>
       Request <i><%=  request.plugin.info_content['title'] %> </i><%= link_to request.id, request %> is <b><%= status %></b> at <%= request.created_at %> 
    </p>
<% end %>
</div>


