<%= render :partial => 'build_form_js' %>
<%= render :partial => 'hiding_js' %>
<%= render :partial => 'bs_js' %>

<div class='bs_container'>
    <div class='bs_title'><%= @info_content['title'] %></div>
    <div class='bs_desc'><p><%= raw @info_content['description'] %></p></div>
    <div class='bs_desc'>
    <p> 
        by <%= @info_content['meta']['author']%> (
        <a href="mailto:webmaster-bbcf@epfl.ch?subject=[BioScript]" >contact</a>,  
        <a href="https://github.com/bbcf/bsPlugins/tree/master/bsPlugins">code</a> 

        )
    </p></div>
    <div class='bs_form'> 
        <%# form_for :plugins, :url => {:action => "post"}, :html =>%>
        <%#= form_tag('/plugins', multipart: true, method: :post) do -%>
        <%= form_for(@request, method: "post", html: {multipart: true}) do |f|%>
            <% @form = f %>
            <table>
            <tbody>
            <% @list_fields = [] %>
            <% @info_content['in'].each do |form_el| %>
                <% @var = form_el %>
                <% @list_fields.push(@var['id']) if !form_el['multiple'] %>
                <% template_name = 'field_' + form_el['type'] %>
                <% template_name = 'field_track' if form_el['type'] == 'userfile' or form_el['type'] == 'txt' or form_el['type'] == 'file' %>
                <% template_name = 'field_format' if form_el['type'] == 'function'%>
                <% template_name += '_multiple' if form_el['multiple'] %>
                <%= render :partial => template_name %>
            <% end %>
            </tbody>
            </table>
            <%= f.hidden_field :plugin_id %>
            <%= f.hidden_field :user_id %>
            <%= hidden_field_tag :list_fields, @list_fields.to_json %>   
            <%#= button_to "submit", requests_path(:plugin_id =>  @plugin.id) %>
            <%= button_to "submit" %>
            <%= @list_fields %>
            <%= f  %>
        <% end %>
    </div>


    <% list_types = ['bam','track', 'userfile', 'txt', 'file'] %>
    <%= javascript_tag do  %>
        <% @info_content['in'].select{|e| list_types.include?(e['type'])}.each do |form_el| %>
            <% field_name = form_el['id'] %>
            <%= raw (form_el['multiple']) ? (0..1).to_a.map{|e| 'bs_init_file_field("' + form_el['multiple'] +":#{e}:" + field_name + '", "text");'}.join("\n") : ("bs_init_file_field('" + field_name + "', 'text');" ) %> 
        <% end %>
    <% end %>


    <%= javascript_tag do%>
        <% @info_content['in'].each do |form_el| %>
            <% if form_el['mapping'] %>
                <%= raw ('twd_hiding_init("' + form_el['id'] + '", ' + form_el['mapping'].to_json + ');') %>
            <% end %>
        <% end %>
    <% end %>
   <%# render :partial => 'run_bf_js' %>
</div>
