<%= render :partial => 'build_form_js' %>
<%= render :partial => 'hiding_js' %>
<%= render :partial => 'bs_js' %>
<%= params %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='bs_container'>
    <div class='bs_title'><b><%= @info_content['title'] %></b></div>
    <div class='bs_desc'><p><%= raw @info_content['description'] %></p></div>
    <div class='bs_desc'>
    <p> 
        by <%= @info_content['meta']['author']%> (
        <a href="mailto:webmaster-bbcf@epfl.ch?subject=[BioScript]" >contact</a>,  
        <a href="https://github.com/bbcf/bsPlugins/tree/master/bsPlugins">code</a> 

        )
    </p></div>
    <div class='bs_form'> 
        <%= form_for(@request, method: "post", html: {multipart: true}) do |f|%>
            <% @form = f %>
            <table>
            <tbody>
            <% @list_fields = [] %>
            <% @info_content['in'].each do |form_el| %>
                <% @var = form_el %>
                <%# multiple are pushed in java script on adding file %>
                <% @list_fields.push(@var['id']) if !form_el['multiple'] %>
                <% template_name = 'field_' + form_el['type'] %>
                <% template_name = 'field_track' if form_el['type'] == 'userfile' or form_el['type'] == 'txt' # or form_el['type'] == 'file' %>
                <%# template_name = 'field_listing' if form_el['type'] == 'function'%>
                <%# template_name = 'field_list' if form_el['type'] == 'function' %>
                <% template_name += '_multiple' if form_el['multiple'] %>
                <%= render :partial => template_name %>
            <% end %>
            </tbody>
            </table>
            <%= f.hidden_field :plugin_id %>
            <%= f.hidden_field :user_id %>
            <%= hidden_field_tag :list_fields, @list_fields.to_json %>   
            <%#= button_to "submit", requests_path(:plugin_id =>  @plugin.id) %>
            <%= button_to "submit" %>
            <span id='submit_link'>Submit</span>
        <% end %>
    </div>

<%= javascript_tag do %>
//$('#submit_link').click(function(){
//var list_fields = JSON.parse($('#list_fields').val());
//var info_content = <%= raw @info_content['in'].to_json %> ;
//for (var i = 0; i < list_fields.length; i++) {
//alert(list_fields[i])    

//}
//$('#' + id).val()
$('#new_request').submit();
});
<% end %>

    <%# list_types = ['bam','track', 'userfile', 'txt', 'file'] %>
    <% list_types = ['bam','track', 'userfile', 'txt'] %>
    <%= javascript_tag do  %>
        <% @info_content['in'].select{|e| list_types.include?(e['type'])}.each do |form_el| %>
            <% field_name = form_el['id'] %>
            <%= raw (form_el['multiple']) ? (0..1).to_a.map{|e| 'bs_init_file_field("' + form_el['id'] +"Multi:#{e}:" + field_name + '", "text");'}.join("\n") : ("bs_init_file_field('" + field_name + "', 'text');" ) %> 
        <% end %>
    <% end %>


    <%= javascript_tag do%>
        <% @info_content['in'].each do |form_el| %>
            <% if form_el['mapping'] %>
                <%= raw ('twd_hiding_init("' + form_el['id'] + '", ' + form_el['mapping'].to_json + ');') %>
                <%#= raw ('twd_hiding_onchange("' + form_el['id'] + '");') %>
            <% end %>
        <% end %>
    <% end %>
   <%# render :partial => 'run_bf_js' %>
</div>
