<p id="notice"><%= notice %></p>
<div class = 'content'>
    <p>
        Request <b><%= @request.id %></b> finished successfully
        <span><%= link_to 'Submit another job', new_request_path(:plugin_id => @request.plugin_id) %><br/></span>
    </p>
    <% res = Result.where(:request_id => @request.id)%>
    <% if res.count > 0 %>
    <p>
        <b>File:</b>
        <% res.each do |r| %>
            <%= link_to r.fname,  APP_CONFIG[:bioscript_server] + APP_CONFIG[:data_url] + r.path + '/' + r.fname %>
        <% end %>
    </p>
    <p><b>File(s) will be deleted in 29 days.</b> Files are kept in Bioscript only for 30 days.</p>
    <% end %>
</div>

<div class = 'belement'>
    <h2>Plugin parameters</h2>
    <table class = 'job_params'>
        <% params = JSON.parse(@request.parameters) %>
        <tbody>
            <% params.each do |k, v|%>
                <tr><td><%= k + ': ' %></td> 
                
                <td>
                <% if v.is_a?(Array) %>
                    <% v.each do |vv| %>
                        <%= vv %>
                    <% end %> 
                <% else %>
                    <%= v %>
                <% end %>
                </td></tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class = 'belement'>
    <% p = Plugin.where(:id => @request.plugin_id).first %>
    <h2><%= p.info_content['title'] %></h2>
    <table class = 'job_params'>
    <tbody>
    <tr><td><%= p.info_content['description'] %></td></tr>
    <% address = p.info_content['meta']['contact'] %>
    <tr><td><b>Author: </b><%= p.info_content['meta']['author'] %></td></tr>
    <tr><td><b>Version: </b><%= p.info_content['meta']['version'] %></td><tr>
    <tr><td><b>Contact: </b><a href="mailto:"+ address + "?subject=[BioScript]" >webmaster-bbcf@epfl.ch </a></td></tr>
    <tr><td><b>Contact: </b><a href="mailto:webmaster-bbcf@epfl.ch?subject=[BioScript]" >webmaster-bbcf@epfl.ch </a></td></tr>
    </tbody>
    </table>
</div>
<%#= link_to 'Edit', edit_request_path(@request) %> 
<%#= link_to 'Back', requests_path %>
