<p id="notice"><%= notice %></p>
<%= render :partial => 'expand_js' %>
<div class = 'content'>
    <p>
        <% if @request.status_id %>
            <% status = @request.status.status %>
        <% else %>
            <% status = 'finished' %>
        <% end %>
        Request <b><%= @request.key %></b> is <%= status %>
        <span><%= link_to 'Submit another job', new_request_path(:plugin_id => @request.plugin_id) %></span>
    </p>
    <% res = Result.where(:request_id => @request.id)%>
    <% # if no files and entry in delayed_job - then failure. DEcide what to show here based on status_id  %>
    <% if res.count > 0 %>
    <p>
        <b>File:</b>
        <% res.each do |r| %>
            <%= link_to r.fname,  APP_CONFIG[:bioscript_server] + APP_CONFIG[:data_url] + r.path + '/' + r.fname %>
        <% end %>
    </p>
    <% created_date = @request.created_at.to_date %>
    <% now = Time.now.to_date %>
    <% days_diff = 29 - (now - created_date).to_i %>
    <p><b>File(s) will be deleted in <%= days_diff %> days.</b> Files are kept in Bioscript only for 30 days.</p>
    <% end %>
    <% if @request.error %>
        <% lines = @request.error.split('\n') %>
        <% text = lines.join('<br/>')%>
        <p id='link' style="cursor:pointer" onclick="showError()"> <%= lines[lines.length - 1 ] %><strong>  Full traceback</strong></br></br>
        <span id='err' hidden><%=  raw text %></span>
    </p>
    <% end %>
</div>

<div class = 'belement'>
    <h2>Plugin parameters</h2>
    <table class = 'job_params'>
        <% params = JSON.parse(@request.parameters) %>
        <tbody>
            <% edit_params = {} %>
            <%# select original_filename parameter%>
            <% params.each do |k, v| %>
                <% if k.include? 'original_filename' %>
                    <% k_param = k.split('_original_filename').first %>
                    <% edit_params[k_param] = v %>
                <% else %>
                    <% if !edit_params[k] %>
                        <% edit_params[k] = v %>
                    <% end %>
                <% end %>
            <% end %>

            <% edit_params.each do |k, v|%>
                <tr><td><%= k + ': ' %></td> 
                
                <td>
                <% if v.is_a?(Array) %>
                    <% v.each do |vv| %>
                        <%= vv %>
                    <% end %> 
                <% else %>
                    <%= v %>
                <% end %>
                </td></tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class = 'belement'>
    <% p = Plugin.where(:id => @request.plugin_id).first %>
    <h2><%= p.info_content['title'] %></h2>
    <table class = 'job_params'>
    <tbody>
    <tr><td><%= p.info_content['description'] %></td></tr>
    <% address = p.info_content['meta']['contact'] %>
    <tr><td><b>Author: </b><%= p.info_content['meta']['author'] %></td></tr>
    <tr><td><b>Version: </b><%= p.info_content['meta']['version'] %></td><tr>
    <tr><td><b>Contact: </b><a href="mailto:"+ address + "?subject=[BioScript]" >webmaster-bbcf@epfl.ch </a></td></tr>
    <tr><td><b>Contact: </b><a href="mailto:webmaster-bbcf@epfl.ch?subject=[BioScript]" >webmaster-bbcf@epfl.ch </a></td></tr>
    </tbody>
    </table>
</div>
<%#= link_to 'Edit', edit_request_path(@request) %> 
<%#= link_to 'Back', requests_path %>
