<p id="notice"><%= notice %></p>

<h1>Listing Param Types</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Is file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @param_types.each do |param_type| %>
      <tr>

	<td><%= param_type.id %></td>
	<td><%= param_type.name %></td>
	<td><%= (param_type.is_file) ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Show', param_type %></td>
        <td><%= link_to 'Edit', edit_param_type_path(param_type) %></td>
        <td><%= link_to 'Destroy', param_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Param type', new_param_type_path %>
