<!DOCTYPE html>
<html lang="en">
<%#= render :partial => 'bs_js' %>
<%= csrf_meta_tags %>
<head>
  <meta charset="utf-8"/>
  <title>Bioscript</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'operations' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller.controller_name %>">
<table width="100%" style="height:100%" bgcolor="LightsteelBlue">
    <tr class="border" height="30px">
    <td>
        <%= image_tag(image_url("bbcf_logo.png")) %>
        </td>
        <td class="head">
        <h1><%= @page_title || "Bioscript" %></h1>
    </td></tr>
    <tr>
        <td width="200px" valign="top" bgcolor="LightSteelBlue" >
            <ul class="menu">
                <li><%= link_to  'Home', APP_CONFIG[:home] %></li>
                <li><a href="http://www..../faq">Questions</a></li>
                <li><a href="http://www..../news">News</a></li>
                <li><a href="mailto:webmaster-bbcf@epfl.ch?subject=[BioScript]" >Contact</a></li>
                <li><%= link_to 'Operations', operations_path %></li>
            </ul>
            <p id="bs_operations"></p>
        </td>
        <td bgcolor="WhiteSmoke" valign="top">
            <%= yield %>
        </td>
    </tr>
     <tr width="100%"><td class="footer">
        Bioscript is a <a href="http://bbcf.epfl.ch">BBCF</a> application hosted on
        <a href="https:///github.com/bbcf/bs">GitHub</a>.
    </td></tr>
</table>
</body>
<%= javascript_tag do %>
    $(document).ready(function(){
        var options = {
            operation_list : <%= raw @plugins_ordered.to_json %>,
            show_plugin : function(plugin_key){
                window.location =  '<%= new_request_path() %>?plugin_key=' + plugin_key
            },
            'root_name' : 'Operations'
        }
        $('#bs_operations').bioscript(options).bioscript('operation_list');
    });
<% end %>

</html>

