<!DOCTYPE html>
<html lang="en">
<%#= render :partial => 'bs_js' %>
<%= csrf_meta_tags %>
<head>
  <meta charset="utf-8"/>
  <title>Bioscript</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'operations' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller.controller_name %>">
    <div id="banner">
        <%= image_tag(image_url("bbcf_logo.png")) %>
        <%= @page_title || "Bioscript" %>
    </div>
    <div id="columns">
        <div id="side">
            <ul>
                <li><%= link_to  'Home', plugins_path%></li>
                <li><a href="http://www..../faq">Questions</a></li>
                <li><a href="http://www..../news">News</a></li>
                <li><a href="mailto:webmaster-bbcf@epfl.ch?subject=[BioScript]" >Contact</a></li>
                <li><%= link_to 'Operations', operations_path %></li>
            </ul>
            <div id="bs_operations"></div>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div>
    <div id="footer">
        Bioscript is a <a href="http://bbcf.epfl.ch">BBCF</a> application hosted on
        <a href="https:///github.com/bbcf/bs">GitHub</a>.
    </div>
</body>
<%= javascript_tag do %>
    $(document).ready(function(){
        var options = {
            operation_list : <%= raw @plugins_ordered.to_json %>,
            show_plugin : function(plugin_key){
                window.location =  '<%= new_request_path() %>?plugin_key=' + plugin_key
            },
            'root_name' : 'Operations'
        }
        $('#bs_operations').bioscript(options).bioscript('operation_list');
    });
<% end %>

</html>

